body {
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 16px;
    line-height: 1.3;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

ul,
ol {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

button {
    cursor: pointer;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.container {
    width: 540px;
}

.city-link {
    cursor: pointer;
}

.article-date {
    font-weight: 700;
    font-style: italic;
}

.btn-primary {
    background-color: #42A5F5;
    border-color: #42A5F5;
}

.btn-primary:hover {
    background-color: #3080c2;
    border-color: #3080c2;
}

.border-custom {
border: 1px solid #42A5F5;
}

.btn-outline-custom {
    color: #42A5F5;
    border-color: #42A5F5;
}

.btn-outline-custom:hover {
    color: #fff;
    background-color: #42A5F5;
    border-color: #42A5F5;
}

.text-primary {
    font-style: italic;
    text-decoration: underline;
}

.article-city {
    font-size: 26px;
    margin-bottom: 8px;
}

.current-temp {
    font-size: 28px;
}

.day-temp, .night-temp {
font-size: 14px;
}

.temp {
    width: 35px;
}

.temps-choice {
    font-size: 28px;
}

.trend-icon {
    font-size: 12px;
}

.socks-icon {
    font-size: 14px;
    color: rgb(255, 219, 16);
}

.humidity-icon {
    font-size: 14px;
    color: #42A5F5;
}

.wind-icon {
    font-size: 14px;
    color: #a3ccee;}

.update-icon {
    font-size: 14px;
}

.card-day {
    font-size: 20px;
}

.card {
    border: none;
}

.card:hover{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 5px 18px 0px;
}

.shadow-custom {
    box-shadow: rgba(0, 0, 0, 0.15) 2px 3px 5px 0px;
}

.form-control {
    height: calc(3.3rem) !important;
}

.weather-description, .forecast-descr {
    font-size: 14px;
    font-style: italic;
}

.forecast-img {
    margin: auto;
}

.isactive {
    cursor: auto;
    color: inherit;
    text-decoration: none;
    pointer-events: none;
}

.temps-choice {
    font-size: 18px;
}